* {
	font-family: 'Raleway', sans-serif;
}
.navbar-brand {
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.navbar-brand span {
    color: #b3428f;
}
.navbar {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.navbar-nav{
    margin-left: 25% !important;
}
.header-title-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
}
.header-title-section .header-left {
	font-weight: 700;
	font-size: 24px;
}
.header-title-section .header-right {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header-title-section .header-right a {
	margin-left: 15px;
}
.page-description {
	padding: 15px 15px 0 25px;
	font-size: 18px;
}
.data-description {
	padding: 30px 15px;
	font-size: 16px;
	margin-left: -0px !important;
	margin-right: -0px !important;
}
.about-us {
	margin: 0 auto;
	padding: 5% 14%;
	text-align: center;
	background-color: #f6f7fd8a;
	font-size: 16px;
}
.about-us p {
	color: #3e3d3d;
	font-size: 16px;
	line-height: 32px;
}
.about-us h3 {
	font-weight: 700;
	margin-bottom: 20px;
}
.divider-line {
	border-radius: 35px;
    border-top-width: 5px;
    border-top-color: #eaeaea;
    border-top-style: solid;
	max-width: 30px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.footer-class {
	box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.12);
	padding: 0 30px;
	background-color: #ffffff;
}
.footer-last-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-center {
	display: flex;
	align-items: center;
}
.header-center a {
	margin-left: 15px;
}

@media only screen and (max-width: 767px) {
	.page-description {
		padding: 15px 15px 0 20px;
		font-size: 16px;
	}
	.header-title-section {
		flex-direction: column;
		padding: 25px 20px;
	}
	.header-title-section .header-right {
		margin-left: auto;
		padding-top: 15px;
	}
	.about-us {
		padding: 5% 10% 10% 10%;
	}
	.footer-last-bar {
		flex-direction: column;
	}
	.footer-last-bar div {
		margin: 15px 0;
	}
}

.last-updated-on{
	font-size: 13px;
	padding-left: 25px;
}

.total-count-label{
	font-weight: 500;
}

.about-us-note{
	font-size: 10px !important;
}

.text-white{
	color: white;
}

.text-label{
	font-size: 12px;
}

.text-value{
	font-size: 22px;
	font-weight: 600;;
}

.card-block {
	/* margin: 12px; */
	margin-bottom: 24px;
}

.card-block-inner{
	border-radius: 4px;
	padding: 18px 24px;

}

.container{
	padding: 0px !important;
}